<!DOCTYPE html>
<html>

<head>
  <title>
    <%= post.post_subjec%>
  </title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/layui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .reply-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 100px;
      height: 40px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <table class="table" id="replies">
      <thead style="height: auto;margintop:50px;">
        <tr>
          <th scope="col">
            <%=post.post_author%>
          </th>
          <th scope="col">
            <%=post.post_content%>
          </th>
        </tr>
      </thead>
    </table>
    <div id=paginationContainer></div>
    <div class="modal fade" id="newReplyModal" aria-hidden="true">
      <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
          <div class="btn-info modal-header" style="background-color: #397fd7;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>回复</h4>
          </div>
          <form class="modal-body" method="post" action="/addreply" id="replyForm">
            <div class="layui-card-body">
              <textarea type="text" name="reply-content" placeholder="请输入内容" class="form-control" style="width: 100%;resize: none;margin-bottom: 20px;margin-top: 20px;"></textarea>
      
            </div>
            <div style="display: flex;">
              <button type="submit" class="btn btn-primary btn-block" style="width: 40%;margin: 0px auto;">发送</button>
              <button type="button" data-dismiss="modal" class="btn btn-block" style="width: 40%;margin: 0px auto;">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <a href="" class="btn btn-primary fixed-button" data-toggle="modal" data-target="#newReplyModal" style="font-size: 16px;position: fixed;
    bottom: 20px;right: 20px;">[发布回复]</a>
  </div>
  <script src="../js/jquery-3.7.1.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/layui.js"></script>
  <script src="../js/replyForm.js"></script>
  <script src="../js/showReplies.js"></script>
</body>
</html>
